<div class="widget">
  <h3 class="widget-title">Vino în comunitatea Alchimiștilor</h3>
  <ul>
    <li><a class="spec" href="irc://irc.freenode.net/alchimistii">#alchimistii pe freenode IRC</a></li>
    <li><a class="spec" href="https://elixir-slackin.herokuapp.com/">Slack canal #romania</a></li>
    <li><a class="spec" href="https://groups.google.com/forum/#!forum/alchimistii-elixir">
           alchimistii-elixir grup de email (intrebări)</a></li>
    <li><a class="spec" href="https://twitter.com/ElixirLangRO">@ElixirLangRO pe Twitter</a></li>
    <li><a class="spec" href="http://www.meetup.com/Bucharest-Elixir-User-Group/">Bucutești Meetup</a></li>
    <li><a class="spec" href="https://github.com/alchimistii">Organizația Github alchimistii</a></li>
    <li><a class="spec" href="http://elixir-lang.ro">Website elixir-lang.ro (RO)</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">Legături utile</h3>
  <ul>
    <li><a class="spec" href="http://elixir-lang.org">Website principal elixir-lang.org (EN)</a></li>
    <li><a class="spec" href="https://github.com/elixir-lang/elixir">Elixir Github proiect</a></li>
  </ul>
</div>
